{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<html>
  <head>
    <title>iamsitting.com | Blog
    </title>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Extra Head -->
    {% render_bundle 'blog' 'css' %}
  </head>
  <body class="is-loading">
    <!-- Page Content -->
    <div id="blog-app">
    </div>
  </div>
    <!-- Scripts -->
    {% render_bundle 'blog' 'js' %}
  </body>
</html>