{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}

    <!-- Post -->
    <section class="post">
        <header class="major">
            <h1>Login</h1>
        </header>
        <!-- Form -->
        <form method="post" action="{{login_url}}" class="alt">
          {% csrf_token %}
            <div class="row uniform">
                <div class="12u$">
                  <td>{{ form.username.label_tag}}</td>
                  <td>{{ form.username }}</td>
                </div>
                <div class="12u$">
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="login" class="special"/></li>
                    </ul>
                </div>
            </div>
        </form>
        <hr/>
    </section>

{% endblock %}

