{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About Me{% endblock %}
{% block content %}

    <!-- Post -->
    <section class="post">
        <header class="major">
            <h1>About Me</h1>
        </header>

        <!-- Short Bio -->
        <header>
            <h2>Carlos Salamanca</h2>
            <p>Perpetualy Sitting, Embedded Systems Engineer, Amateur Historian, &amp Lover
                of Jesus</p>
        </header>

        <p>
            <span class="image left"><img src="{% static 'home_app/images/headshot3.jpeg' %}" alt=""/></span>I
            sit alot. School? Sitting. Bible study? Sitting. Traveling? Sitting. Working?
            Sitting. Yeah that's what I do. However, it's not all I do. I graduated from
            Texas A&ampM University with a B.S. in electrical engineering (power
            electronics) and a minor in math. That's also not what I really do. My interest
            and experience is an odd concoction of embedded and web programming. I am a big
            fan of IOT and IOT things! I also love history. I've easily spent hundreds of
            hours reading tons of articles on Wikipedia. And, yeah it's
            <a
                href="https://en.wikipedia.org/wiki/Reliability_of_Wikipedia#cite_note-GilesJ2005Internet-4">
                reliable!
            </a>
            I especially enjoy Middle-eastern and European Imperialism. I simply like
            learning. And I like to promote learning. I am big supporter of STEM education
            initiatives and have some research experience in this field. This was a large
            portion of my undergraduate career. I'm not big on saving the whales, or
            boycotting Wal-Mart. My thing is STEM education.
        </p>

        <blockquote>But God being rich in mercy... made us alive together with Christ...
            and raised us up together with Him and
            <strong>seated us</strong>
            together with Him... -
            <a
                href="http://online.recoveryversion.bible/bibleverses.asp?fvid=6089&lvid=6091">Eph 2:4-6</a>
        </blockquote>

        <p>Lastly, but most importantly (really,
            <i>most importantly</i>
            ), I am a lover of Jesus. I am not a follower of a religion or a teaching. I am
            in love with a person - Jesus! He is not just a compartmentalized facet of my
            daily activities. In fact,
            <strong>I am sitting</strong>
            with Him all the time (Eph. 2:6). This is to be in the position of rest. I am
            sitting with Christ in all circumstances (check out
            <a
                href="https://play.google.com/store/books/details/Watchman_Nee_Sit_Walk_Stand?id=DnG4PxRgKKMC">Sit, Walk, Stand</a>
            by Watchman Nee). Christ is my life and I aspire that Christ would also be my
            living.</p>

        <hr/>
        <!-- Current Status -->
        <header>
            <h2>Now</h2>
            <p>What am I doing, now?</p>
        </header>
        <p>Well... I decided to take an indefinite break from engineering. I am serving the
            Lord Jesus with my full-time in College Station, TX. Occassionally, I do some freelance web development. </p>
        <hr/>
        <!-- Before -->
        <header>
            <h2>Before</h2>
            <p>What was I doing? <a href="{% url 'home:my_cv'%}" target="_blank">(see my cv)</a></p>
        </header>
        <p>Recently, I finished a 2-year Christian Bible and service program in California.
            It was the best decision of my life. No, I didn't want to become a theologian, neither a professional pastor, nor start my own church. I just wanted to spend some time (before adult life gets hectic) being trained in the truths of my faith and to serve others these wonderful truths.
            Before then, I was doing some engineering stuff....
        </p>
        <h3>Senior Design</h3>
        <div class="box">
            <p>My project was called
                <a href="{% url 'home_app:cycle_x_pro' %}">Cycle-X Pro</a>. In a nutshell, it is a Fitbit +
                LifeAlert for your bicycle. Visit the embedded site to find out more; there is a
                good video about it as well. I worked on pretty much all the software including
                the C code for the Arduino, the Django website, and the Android app. Check out
                my
                <a href="https://github.com/iamsitting">GitHub</a>
                to find out more.
            </p>
        </div>
        <h3>Embedded Software Engineer</h3>
        <div class="box">
            <p>While I was in school, I worked as a part-time software engineer for a small
                company in Bryan, Texas called Otis Instruments, Inc. Our main products were gas
                detection units for sites with hazardous gases (i.e chemical plants, refineries,
                etc.). Because these units are digitial and wireless, there was need for someone
                like me. I was programming in C on PIC Microcontrollers to add any necessary
                features to pre-existing software. I really enjoyed what I was doing because I
                got to handle the hardware as well.</p>
        </div>

    </section>
{% endblock %}

