{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Carlos Salamanca - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'home_app/css/cv.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="{% static 'home_app/images/headshot3.jpeg' %}" alt="CDS" />
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">Carlos Salamanca</h1>
      <h2 class="quickFade delayThree">Student at FTTA</h2>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>e: <a href="mailto:carlos@iamsitting.com" target="_blank">carlos@iamsitting.com</a></li>
        <li>w: <a href="https://iamsitting.com">iamsitting.com</a></li>
        <li>m: 9792042437</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <!--section>
      <article>
        <div class="sectionTitle">
          <h1>Personal Statement</h1>
        </div>

        <div class="sectionContent">
          <p>Having grown up in the age of the Internet, I have always marveled at the powerful, yet mysterious network that has permeated every aspect of my life. During an engineering camp, I saw that the basic material of this ethereal network can be traced back to the silicon commonly found in sand. This was how I was drawn in to the field of electrical engineering. Nevertheless, there were a few years of spelunking around the different engineering disciplines to find a clear academic path. My research experiences go back to 2011 when I was still in high school and involved with research projects in bio-fuels and propulsion systems. These experiences, although elementary, were essential to paving a way for my current pursuit of a doctoral degree. Through several more academic and professional experiences, I became especially interested in wireless networks and communications, specifically within the context of the internet-of-things and smart devices.</p>
          <p>Throughout my course at Texas A&M University, I engaged in several research projects. My first paid research experience was during the summer of 2014. On the first or second day, I was asked to write a program in which a user could generate a varying pulse-width function to test a biaxial fast-scanning mirror. Due to my limited technical experience, understanding of the project, and research time, I contributed very little to the research project. However, I learned a valuable lesson. I learned to rummage through every resource I had at my disposal to contribute something to a project I knew initially nothing about. Shortly after, I joined a STEM education research group for about two years to broaden my interests and to learn how to produce and present statistical arguments. With this research group, I developed the writing skills that typical engineering programs often inadvertently discount.</p>
          <p>In the Summer of 2015, I interned with Siemens where I was working on smart EV chargers. My project involved the communication protocol between their chargers and a third party smart device. Again, I was involved with a project I knew nothing about and had skills that were too limited to be of any use. So I did what I have always done before: learn. Because of the invigorating nature of the project, in addition to my own discipline, I learned programming languages, communication protocols, and big picture concepts to be able to contribute as much as I could in three months. Through the project's use of openADR, I was also introduced to smart grids and other energy managing technologies. This experience directed the remainder of my undergraduate studies towards wireless networks and communications.</p>
          <p>Many are quick to note my 2-year hiatus in my academic career. So this begs the question: how did I go from smart grids to Bible school and then back? At the end of the day, I care for people and I want to serve people. Through my current program, I am developing a genuine character and a compassionate attitude towards all men, traits that I hope to apply for the rest of my life and for the benefit of those around me. Some people have Habitat for Humanity, Doctors without Borders, etc., but Bible school was how I wanted to devote my time in a concentrated way. When I do something, I like to do it in an adequate and absolute way.</p>
          <p>Now that I am finishing my program, I am looking to consummate all that I have picked up in my time at Texas A&M University and at the FTTA by pursuing a doctoral degree. In my search, I found the Wireless Networking, Signal Processing, and Security Lab at the University of Houston as a promising institution for my pursuit. I have read through several of the abstracts and future works sections of the dissertations belonging to this group and I find much of the content paralleling my interests. I humbly acknowledge that I do not understand it all, but I believe I have proven myself over and over again to be able to advance and breakthrough in that which I may lack.</p>
          <p>Currently, my long term career goals are very malleable. But for now, I hope to begin my own company that corresponds to my interests formerly outlined. I see myself starting a business centered around an innovative device or network that could change a society or an industry. I believe that the problem-solving, self-defining, and, even, social experience of a PhD program will equip me with what I need to reach my goal.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section-->

    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Full-Time Training in Anaheim</h2>
          <p class="subDetails">Biblical studies, practice, and service</p>
        </article>

        <article>
          <h2>Texas A&ampM University</h2>
          <p class="subDetails">B.S. in Electrical Engineering</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Embedded Software Engineer at Otis Instruments Inc.</h2>
          <p class="subDetails">May 2016 - Dec. 2016</p>
          <p>Provide software updates to gas detection sensors and monitors</p>
          <p>Developed and debugged C software on Microchip PIC processors</p>
        </article>

        <article>
          <h2>Product Management Intern at Siemens Energy Management</h2>
          <p class="subDetails">May 2015 - Aug. 2015</p>
          <p>Developed embedded software and REST APIs in Python</p>
        </article>

        <article>
          <h2>Instrumentation &amp Reliability Co-op at MeadWestvaco</h2>
          <p class="subDetails">Jan. 2014 - May 2014</p>
          <p>Completed instrumentation-based reliability improvement <a href="https://www.dropbox.com/s/g6d6tedzkj2axz3/mwvReport.pdf?dl=0">projects</a></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Research</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Research in STEM Education</h2>
          <p class="subDetails">Jun. 2014 - Dec. 2015</p>
          <p>Led a team in several STEM education research and development <a href="https://www.dropbox.com/s/f0c3aa4mt9ftd17/researchPoster.pdf?dl=0">projects</a></p>
        </article>

        <article>
          <h2>Workplace Learning for Engineering Students</h2>
          <p class="subDetails">Sept. 2014 - May 2015</p>
          <p>
              Conducted research under Dr. Johnannes Strobel and produced an undergrduate <a href="https://www.dropbox.com/s/pcwhuwjtx45npbz/ugrThesis.pdf?dl=0">thesis:</a> Classroom learning Versus Workplace Learning: Engineering Students' Cooperative Education Experience
          </p>
        </article>

        <article>
          <h2>REU in MEMs</h2>
          <p class="subDetails">Jun. 2014 - Aug. 2014</p>
            <p>
              Conducted light research under Dr. Jun Zou and produced a <a href="https://www.dropbox.com/s/pugj0cgoq5ay89t/reuResearchPaper.pdf?dl=0">paper</a>: User Modulated Function Generator for Projecting a Pattern via a Biaxial Wide-field Fast-scanning Mirror
            </p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Other Projects</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>FTTA Attendance Server</h2>
          <p class="subDetails">May. 2017 - Present</p>
          <p>Developing software for a Django web application.</p>
        </article>

        <article>
          <h2>iamsitting.com</h2>
          <p class="subDetails">Jul. 2017 - Present</p>
          <p>iamsitting.com is a personal website that acts a personal blog, bio, portfolio, and web development sandbox.</p>
        </article>

        <article>
          <h2>Cycle X-Pro</h2>
          <p class="subDetails">Feb. 2016 - Dec. 2016</p>
          <p>Developed an Android and C/Arduino Bluetooth protocol</p>
          <p>Developed an Android and Django REST interface</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Honors</h1>
      </div>

      <div class="sectionContent">
        <article>
          <li>Texas A&amp University Cum Laude, Honors Fellow, Undergraduate Research Scholar</li>
          <li>First Place 2016 Senior Design Demo Day</li>
          <li>2016 SHPE Regiong 5 Blue Chip Award</li>
          <li>2014 ExxonMobil Future Leaders Academy</li>
          <li>2014 Eastman Ambassador Leadership Forum</li>
          <li>2015 SHPE Region 5 Academic Excellence Award</li>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Python</li>
          <li>Django</li>
          <li>C</li>
          <li>Matlab</li>
          <li>HTML/CSS/React</li>
          <li>Java/Android</li>
          <li>Speaking &amp Presentation</li>
          <li>Technical Writing</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
