{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<h2>Sign up</h2>
<form method="post" action="#" class="alt">
  
  {% if form.non_field_errors %}
  <div class="control-group error" style="color: red">
  {{ form.non_field_errors.as_text|safe }}
  </div>
  {% endif %}
  
  <div class="row uniform">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="12u$">
        <p>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
    
    <div class="12u$">
      <ul class="actions">
        <li><input type="submit" value="Sign Up" class="special" /></li>
      </ul>
    </div>
  </div>
  </form>
{% endblock %}
